*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    padding: 1rem 0;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
header > h2{
    flex-basis: calc(100% - 3rem);
    text-align: center;
    font-variant: small-caps;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
}
header > span{
    flex-basis: 3rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
    cursor: pointer;
}
#body-overlay{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(26, 25, 25, 0.413);
    z-index: -1;
}
.overlay{
    position: fixed;
}
#menus{
    position: fixed;
    right: 0;
    text-align: right;
    top: 0;
    bottom: 0;
    background-color: black;
    z-index: -1;
    padding: 0 3% 0 3rem;
    width: 280px;
    transition: transform 0.7s ease-out;
}
.transform-right{
    transform: translateX(125%) skewX(10deg);
}
#menu-container{
    overflow: hidden;
}
.height-0{
    height: 0;
    transition: height 0.1s;
}
.height-set{
    height: calc(42px * 13 + 20px);
    transition: height 1.2s 0.5s;
}
#menu-container > a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.7rem 0;
    border-bottom: 1px solid rgb(76, 75, 75);
}
#menus{
    padding-top: 3rem;
}
section.similar-section{
    height: 100vh;
    border: 1px solid;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
}
.similar-section > *{
    margin: 0.2rem 1rem;
    color: white;
}
.similar-section > span.title{
    
}
.similar-section > h1{
    font-size: 1.8rem;
}
.similar-section > button{
    margin-bottom: 4.5rem;
    padding: 1rem 3.5rem;
    align-self: flex-start;
    margin-top: 1rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    font-weight: bold;
    transform: color 0.3s;
}
.similar-section > button:hover{
    color: black;
}
.similar-section > button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-color: white;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s;
    z-index: -1;
}
.similar-section > button:hover::before{
    transform: scaleY(1);
    transform-origin: bottom;
}

.similar-section > span:last-of-type{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3.5rem;
    animation: arrow-down-animate 2s forwards infinite;
}
.similar-section > span:last-of-type > i::before{
    /* font-weight: bold; */
}
#first{
    background-image: url("images/STARSHIP_CAROUSEL_DESKTOP_Sunset_Full_Stack_031522_DJI_0066_544ff6b208.jpg");
}
#second{
    background-image: url("images/Trans_7_OS_56_0469_Desktop_e7dc1ccff2.jpg");
}
#fourth{
    background-image: url("images/Homepage_Desktop_5ebdeb0c6c.webp");
}
#third{
    background-image: url("images/HOMEPAGE_CRS_27_Desktop_fcc63e2c6c.png");
}
footer{
    padding: 2rem;
    background-color: black;
    text-align: center;
}
footer > span{
    color: grey;
    font-size: 0.8rem;
}
footer > #links > a{
    color: white;
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: bold;
    display: inline-block;
    padding: 0.4rem 0.3rem 0.2rem;
}
.hover-grey-color{
    transition: color 0.4s;
}
.hover-grey-color:hover{
    color: grey !important;
}
@keyframes arrow-down-animate{
    0%{
        opacity: 0;
        bottom: 3.5rem;
    }
    45%{
        opacity: 1;
        bottom: 3.5rem;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        bottom: 2rem;
    }
}

@media screen and (min-width: 768px){
    .similar-section > *{
        margin: 0.2rem 4rem;
    }
}

@media screen and (min-width: 992px){
    header{
        padding: 2rem 0;
    }
    header > h2{
        flex-basis: 15rem;
    }
    #menus{
        position: unset;
        flex-basis: calc(100% - 15rem);
    }
    header > span{
        display: none;
    }
    .height-0{
        height: unset;
    }
    .transform-right{
        transform: unset;
    }
    #menus{
        padding: unset;
        background-color: unset;
    }
    #menu-container{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
    }
    #menu-container > a{
        border: unset;
        font-size: 0.8rem;
        font-weight: bold;
        padding-right: 0.5rem;
    }
    #menu-container > a:hover{
        color: unset !important;
    }
    #menu-container > a::after{
        content: "";
        background-color: white;
        display: block;
        width: 100%;
        height: 1px;
        border-radius: 1px;
        margin-top: 3px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 1s;
    }
    #menu-container > a:hover::after{
        transform: scaleX(1);
        transform-origin: left;
    }
}